<div class="meter_cat">

    <h1><%= t( :title, :scope => :meter_cat ) %></h1>
    <%= meter_table( @meters, @range ) %>

    <hr/>
    <h2><%= t( :descriptions, :scope => :meter_cat ) %></h2>
    <%= meter_descriptions( @meters ) %>

    <hr/>
    <h2><%= t( :search, :scope => :meter_cat ) %></h2>
    <%= meter_form( @date, @days, @names, @all_names ) %>

    <hr/>
    <%= MeterCat::Meter.count %> records

</div>
